[*.cs]

# SA1636: File header copyright text should match
dotnet_diagnostic.SA1636.severity = suggestion

# SA1614: Element parameter documentation should have text
dotnet_diagnostic.SA1614.severity = suggestion

# IDE0025: Use expression body for properties
csharp_style_expression_bodied_properties = true:suggestion

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = suggestion

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = suggestion

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = warning

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = warning

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = suggestion
