[*.cs]

# SA1636: File header copyright text should match
dotnet_diagnostic.SA1636.severity = suggestion

# SA1614: Element parameter documentation should have text
dotnet_diagnostic.SA1614.severity = suggestion

# IDE0025: Use expression body for properties
csharp_style_expression_bodied_properties = true:suggestion

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = suggestion

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = suggestion