<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Lawo.GlowAnalyzerProxy.Main.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <Lawo.GlowAnalyzerProxy.Main.Properties.Settings>
            <setting name="ProviderHostName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ProviderPort" serializeAs="String">
                <value>9000</value>
            </setting>
            <setting name="ListeningPort" serializeAs="String">
                <value>8999</value>
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="AutoScrollToMostRecentEvent" serializeAs="String">
                <value>True</value>
            </setting>
        </Lawo.GlowAnalyzerProxy.Main.Properties.Settings>
    </userSettings>
</configuration>
